<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/backbone-min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='models/measurement.js') }}"></script>
    <script src="{{ url_for('static', filename='models/bill.js') }}"></script>
    <script src="{{ url_for('static', filename='collections/bills.js') }}"></script>
    <script src="{{ url_for('static', filename='collections/measurements.js') }}"></script>
    <script src="{{ url_for('static', filename='views/billview.js') }}"></script>
    <script src="{{ url_for('static', filename='views/billsview.js') }}"></script>
    <script src="{{ url_for('static', filename='views/measurementsview.js') }}"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>MyHealth</h1>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#bloodpressure" aria-controls="bloodpressure" role="tab" data-toggle="tab">Bloeddruk</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ECG</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Pulse</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="bloodpressure">
                    <table class="table table-striped">
                        <tr>
                            <th>Datum</th>
                            <th>Onderdruk</th>
                            <th>Bovendruk</th>
                        </tr>
                        <tr>
                            <td>30-09-2015</td>
                            <td>60</td>
                            <td>90</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile">Ietsanders</div>
                <div role="tabpanel" class="tab-pane fade" id="messages">Edk</div>
            </div>
        </div>
        </div>
    </div>
    <script>
        var measurementsView = new MeasurementsView();
        var billsView = new BillsView();
    </script>
</body>